@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lobster&family=Lobster+Two:wght@700&display=swap');

.price {
    font-weight: 600;
    font-size: 14px;
}

.notFoundProduct {
    height: 52vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a0;
    font-size: 34px;
    font-family: 'Amaranth', sans-serif;
    flex-direction: column;
}

.notFoundProduct img {
    width: 30%;
}

.padding {
    padding-block: 45px;
}