@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lobster&family=Lobster+Two:wght@700&display=swap');
.eyeIcon{
    position: absolute;
    right: 11px;
    top:11px;
    color: rgba(0,0,0,0.5);
}
.LoginTitle{
    font-family: 'Amaranth', sans-serif;
    font-size: 35px;
}
.errorAlert{
    margin-bottom: 0!important;
    color: red;
    font-family: 'Amaranth', sans-serif;
}
.ContainerWidth{
    width: 75%;
    margin-block: 76px;
}
.fontFami{
    font-family: 'Amaranth', sans-serif;
    font-size: 19px;

}
.textColor{
    color:#0aad0a;
}
.alert{
    padding: 6px 12px;
    font-family: 'Amaranth','sans-serif';
}
@media screen and (max-width:700px) {
    .ContainerWidth{
        width: 100%;
        margin-block: 0;
    }
}